.wisher{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 130vh;
    padding: 10px;
}
.wisherLeft, .wisherRight{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.wisherLeft .CopyLink{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}
.wisherLeft .CopyLink button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}
.wisherLeft form{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wisherRight .preview{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    background: linear-gradient(45deg, orange, green);
    color: #fff;
    position: relative;
    padding-top: 140px;
}
.wisherRight .previewLoading{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    background: url(/bg.gif);
    background-color: rgba(0,0,0,0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    padding-top: 140px;
}
.preview img{
    position: absolute;
    top: -40%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.cursive{
    font-family: 'Pacifico', cursive;
}
.toggleBTN{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: min-content;
    gap: 10px;
}
.toggleBTN span{
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .wisher{
        grid-template-columns: 1fr;
        height: auto;
        gap: 250px;
    }
    .wisherLeft form{
        width: 100%;
    }
    .wisherRight .preview, .wisherRight .previewLoading{
        width: 100%;
    }
}